* {
  box-sizing: border-box;
}

body {
  background-image: url("../imagem/background_art_for_pokemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 17%;
  background-attachment: fixed;
}
